<!DOCTYPE html>
<div ng-controller="ServiceAlertFormController">
  <div ng-controller="ServiceAlertFormController" ng-init="init();">
    <label style="font-weight: bold">NOVEDAD EN EL SERVICIO</label>
  </div>
  <div id="divLocationsCombo" ng-show="showLocationsCombo">
    <label style="font-weight: bold">CONTENIDO - {{mensaje}}</label>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Creation date</th>
          <th>Management date</th>
          <th>Alert tipe</th>
          <th>Managed by</th>
          <th>Detail</th>
          <th>Comentarios</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ServiceAlertKeys">
          <td>{{alert.Stamp.TimeCreated}}</td>
          <td>{{alert.Stamp.TimeModified}}</td>
          <td>{{alert.ServiceAlertType['@DisplayString']}}</td>
          <td>{{alert.FollowUpUser}}</td>
          <td>{{alert.Description}}</td>
          <td>{{alert.Title}}</td>
          <td>{{alert.ServiceAlertStatus['@DisplayString']}}</td>
        </tr>
        <tr>
          <td>{{LastServiceAlert.Stamp.TimeCreated}}</td>
          <td>
            <pp-datetime
              show-date="true"
              show-time="true"
              ng-model="LastServiceAlert.Stamp.TimeModified"
              property-name="FinishDate"
              focus-id="1"
              read-only="false"
              mandatory="false"
              default-value=""
            ></pp-datetime>
          </td>
          <td>{{LastServiceAlert.ServiceAlertType['@DisplayString']}}</td>
          <td>
            <textarea
              rows="1"
              cols="20"
              name="comment"
              ng-model="LastServiceAlert.FollowUpUser"
            >
          {{LastServiceAlert.FollowUpUser}}</textarea
            >
          </td>
          <td>
            <br />
            <select
              ng-model="LastServiceAlert.Description"
              style="
                border: 1px solid #cbcbcb;
                border-radius: 2px;
                min-height: 38px;
                font-size: 14px;
                margin-top: 5px;
                background-color: #ffffff;
                color: #222222;
                width: 160px;
                padding: 4px 10px;
              "
              class="form-control"
            >
              <option>Novedad Gestionada</option>
              <option>Novedad no requiere gestion</option>
            </select>
            <br />
          </td>
          <td>
            <textarea
              rows="4"
              cols="30"
              name="comment"
              ng-model="LastServiceAlert.Title"
            >
          {{LastServiceAlert.Title}}</textarea
            >
          </td>
          <td>
            <select
              ng-model="LastServiceAlert.ServiceAlertStatus['@DisplayString']"
              ng-options="opcion.Name for opcion in Opciones"
            ></select>
          </td>
        </tr>
      </tbody>
      <div>
        <div>
          <input
            type="button"
            value="Actualizar alerta"
            ng-click="updating(LastServiceAlert.Stamp.TimeModified,
            LastServiceAlert.FollowUpUser,
            LastServiceAlert.Description,
            LastServiceAlert.Title,
            LastServiceAlert.ServiceAlertStatus['@DisplayString']
            )"
          />
        </div>
      </div>
    </table>
  </div>
</div>
