<!DOCTYPE html>
<div ng-controller="ServiceAlertFormController">
  <div ng-controller="ServiceAlertFormController" ng-init="init();">
    <label style="font-weight: bold">NOVEDAD EN EL SERVICIO</label>
  </div>
  <div id="divLocationsCombo" ng-show="showLocationsCombo">
    <label style="font-weight: bold">CONTENIDO - {{mensaje}}</label>
  </div>
  <div>
    <!-- <table>
      <tr>
        <td><h1>pencils</h1></td>
      </tr>
      <tr>
        <td>red pencil</td>
      </tr>
      <tr>
        <td>blue pencil</td>
      </tr>
      <tr>
        <td>yellow pencil</td>
      </tr>
      <tr>
        <td><h1>rubbers</h1></td>
      </tr>
      <tr>
        <td>big rubber</td>
      </tr>
      <tr>
        <td>small rubber</td>
      </tr>
    </table> -->
    <!-- <select ng-model="Alerta" ng-options="alert for alert in arreglo"></select>
    <select
      ng-model="Estado"
      ng-options="opcion for opcion in Opciones"
    ></select> -->
    <!-- <div>{{Opciones[0]}}</div> -->
    <!-- <div>{{ServiceAlertKeys[0]}}</div> -->
    <table>
      <thead>
        <tr>
          <th>Creation date</th>
          <th>Management date</th>
          <th>Alert tipe</th>
          <th>Managed by</th>
          <th>Detail</th>
          <th>Comentarios</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ServiceAlertKeys">
          <td>{{alert.Stamp.TimeCreated}}</td>
          <td>{{alert.Stamp.TimeModified}}</td>
          <td>{{alert.ServiceAlertType['@DisplayString']}}</td>
          <td>{{alert.FollowUpUser}}</td>
          <td>{{alert.Description}}</td>
          <td>{{alert.Title}}</td>
          <td>{{alert.ServiceAlertStatus['@DisplayString']}}</td>
        </tr>
        <tr>
          <td>{{LastServiceAlert.Stamp.TimeCreated}}</td>
          <td>{{LastServiceAlert.Stamp.TimeModified}}</td>
          <td>{{LastServiceAlert.ServiceAlertType['@DisplayString']}}</td>
          <td>{{LastServiceAlert.FollowUpUser}}</td>
          <td>{{LastServiceAlert.Description}}</td>
          <td>{{LastServiceAlert.Title}}</td>
          <!-- <td>{{LastServiceAlert.Title}}</td> -->
          <td>
            <select
              ng-model="alert"
              ng-options="opcion.Name for opcion in Opciones"
            ></select>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div>{{ServiceAlertKeys}}</div> -->

    <!-- <ul *ngFor="let person of gilbertor">
      <li>Nombre: {{person.firstname}}</li>
      <li>Apellido: {{person.lastname}}</li>
      <li>Edad: {{person.age}}</li>
    </ul> -->
    <!-- <div>{{ info }}</div> -->
    <!-- <select ng-model = 'Nombreeeeee' ng-options='opcion for opcion in Opciones'> </select> -->

    <!--*ngFor="let opcion of Opciones; index as i; first as isFirst"> ng-options='opcion for opcion in Opciones'-->
  </div>
</div>
